# Java / Maven

**/target/
*.class
*.jar
*.war
*.ear

# IDE

.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# logs
*.log
logs/

# temp
*.tmp
*.swp

# kubernetes secrets
manifests/mysql/mysql-secret.yaml

