apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: dev

type: Opaque

stringData:
  MYSQL_DATABASE: employeedb
  MYSQL_USER: employee
  MYSQL_PASSWORD: CHANGE_ME
  MYSQL_ROOT_PASSWORD: CHANGE_ME
